@model IList<ManicOceanic.DOMAIN.Entities.Products.Product>
@{
    ViewData["Title"] = "SaltWaterFish";
}

<h2>Salt Water Fish</h2>

<style>
    .product-grid {
    display: grid;
    grid: auto / repeat(4, 1fr);
    grid-gap: 40px 20px;
    }

    .grid-item {
        justify-self: center;
        align-self: center;
        text-align: center;
    }
</style>

<div class="product-grid">
    @foreach(var product in Model)
    {
        <div class="grid-item">
            <a asp-controller="Product" asp-action="ShowDetail" asp-route-productNumber="@product.ProductNumber"><img src="@product.ImageUrl" width="200px" /> </a>
            <div>@product.Name</div>
            <div>@product.Price kr</div>
            <div class="btn-cart">
                @Html.ActionLink("Add to cart", "OrderNow", "ProductCart", new { id = product.Id }, null);
            </div>
        </div>
    }
</div>






