
@model ManicOceanic.WEB.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "ShowDetail";
}

<h2>@Model.Product.Name</h2>



<div class="row row-no-gutters">
    <div class="col-sm-6"><img src="@Model.Product.ImageUrl" alt="@Model.Product.Name" class="img-rounded" width="350" height="271"></div>
    <div class="col-sm-6">   <p>@Model.Product.Description</p>
        <div>Price: @Model.Product.Price</div>
        <div>Items in stock: @Model.Product.Stock</div>
        <button class ="add-to-cart-button btn-md"">Add to cart</button></div>
</div>

